@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

nav{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top:40px;
    margin-left: 270px;
    width: 700px;
    height: 3%;
    font-family: 'Montserrat';
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 400ms ease;
    border: 1px solid black;
}

nav a{
    margin: 0 30px;
    background:transparent;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover{
color: rgb(255, 188, 5);
transition: all ease 400ms;
font-weight: 700;
cursor: pointer;
}

body{
    margin-bottom: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* ========== home ============ */
.judulkecil{
    padding-top: 90px;
    padding-left: 300px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    transition: all 400ms ease-in-out;
}

.judulkecil:hover{
font-size: 30px;
color: blueviolet;
}

.judulbesar{
    padding-left: 290px;
    font-size: 300%;
    color: black;
    font-weight: 100px;
    font-family: 'Russo One', sans-serif; 
    transition: all 400ms ease-in-out;
}

.judulbesar:hover{
    font-size: 57px;
    -webkit-text-fill-color:rgb(253, 12, 92);
    -webkit-text-stroke: 0.1px #000000;
}

.main-content{
    display: inline-block;
}

.logo{
    height: 40px;
    padding-left: 570px;
    padding-top: 7px;
    transition: all ease 400ms;
}

.logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.main-container{
    display: table;
}

.sosmed{
    display: inline;
    padding-left: 300px;
    
}

.instagram{
    height: 40px;
    padding-top: 20px;
    padding-left: 50px;
    cursor: pointer;
    transition: all ease 400ms ;
}

.linkedin{
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: all ease 400ms;
}

.github{
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: all ease 400ms;
}

.instagram:hover{
    height: 70px;
}

.linkedin:hover{
    height: 70px;
}

.github:hover{
    height:70px;
}

.gambarsaya{
    height: 450px;
    padding-top: 50px;
    transition: all ease 400ms;
    background: none;
}

.gambarsaya:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }

}

.tekstambah{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    padding-left: 18.5rem;
    margin-top: 10px;
    transition: all ease 400ms;
}

.tekstambah:hover{
font-size: 18px;
color: rgb(255, 166, 11);
}

.container-content{
    margin-left: -1rem;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 30px;
}
.walkingtext{
    font-family: 'Russo One', sans-serif;
    margin-top: 2rem;
}

.formarquee{
    width: 100px;
    margin-left: 18rem;
    margin-top: -8rem;
    font-size: 25px;
}

@media screen and (max-width: 912px) {
    .judulbesar{
        padding-left: 60px;
    }
    .judulkecil{
        padding-left: 170px;
    }
    .tekstambah{
        padding-left: 150px;
    }
    .formarquee{
        margin-left: 3rem;
        margin-top:1px;
    }
    nav{
        width: 88vh;
    }
    .sosmed{
        padding-left: 130px;
    }
    .logo{
        padding-left: 300px;
    }
}

@media screen and (max-width: 768px) {
    .judulbesar{
        padding-left: 60px;
    }
    .judulkecil{
        padding-left: 60px;
    }
    .tekstambah{
        padding-left: 60px;
    }
    .formarquee{
        margin-left: 3rem;
        margin-top:1px;
    }
    nav{
        margin-left: 0px;
    }
    .sosmed{
        padding-left: 60px;
    }
    .logo{
        padding-left: 300px;
    }
}


 @media screen and (max-width: 1024px) {
    nav{
        margin-left: 150px;
        max-width: 100%;
    }
    .judulkecil{
        padding-left: 180px;
    }
    .judulbesar{
        padding-left: 170px;
    }
    .tekstambah{
        padding-left: 170px;
    }
    .formarquee{
        margin-left: 170px;
    }
    .logo{
        padding-left: 450px;
    }
    .sosmed{
        padding-left: 170px;
    }
 }
 @media screen and (max-width: 688px) {
    nav{
       margin-left: 0px;
    }
    .judulkecil{
        padding-left: 70px;
    }
    .judulbesar{
        padding-left: 70px;
    }
    .tekstambah{
        padding-left: 70px;
    }
    .formarquee{
        margin-left: 70px;
        margin-top: -2rem;
    }
    .logo{
        padding-left: 305px;
    }
    .sosmed{
        padding-left: 70px;
    }
    .gambarsaya{
        height: 380px;
    }
 }
 @media screen and (max-width: 414px) {
    nav{
       max-width: 100%;
       padding-left: 25px;
    }
    nav a{
        margin: 20px;
    }
    .judulkecil{
        padding-left: 140px;
    }
    .judulbesar{
        text-align: center;
        padding-left: 7px;
    }
    .tekstambah{
        padding-left: 15px;
        text-align: center;
    }
    .formarquee{
        margin-left: 70px;
        margin-top: 5rem;
    }
    .logo{
        padding-left: 170px;
    }
    .sosmed{
        padding-left: 90px;
    }
    .container-content{
        display: block;
    }
    .gambarsaya{
        padding-left: 2.7rem;
    }
 }
 @media screen and (max-width: 395px) {
    nav{
       max-width: 372px;
       padding-left: 20px;
    }
    nav a{
        margin: 20px;
    }
    .judulkecil{
        padding-left: 130px;
    }
    .judulbesar{
        text-align: center;
        padding-left: 6px;
    }
    .tekstambah{
        padding-left: 15px;
        text-align: center;
    }
    .formarquee{
        margin-left: 65px;
        margin-top: 3rem;
    }
    .logo{
        padding-left: 160px;
    }
    .sosmed{
        padding-left: 90px;
    }
    .container-content{
        display: block;
    }
    .gambarsaya{
        padding-left: 2rem;
    }
 }
 @media screen and (max-width:375px) {
    .sosmed{
        padding-left: 85px;
    }
 }
 
 @media screen and (max-width: 360px) {
    nav{
       max-width: 323px;
       padding-left: 35px;
    }
    nav a{
        margin: 10px;
    }
    .judulkecil{
        padding-left: 120px;
    }
    .judulbesar{
        text-align: center;
        padding-left: 6px;
    }
    .tekstambah{
        padding-left: 15px;
        text-align: center;
    }
    .formarquee{
        margin-left: 50px;
        margin-top: 3rem;
    }
    .logo{
        padding-left: 170px;
    }
    .sosmed{
        padding-left: 70px;
    }
    .container-content{
        display: block;
    }
    img{
        padding-left: 3rem;
    }
 }
/* ========= end home ============= */

/* ===========aboutme======== */
.bungkusutama{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-left:21rem;
    margin-top: 2rem;
}

.card1{
    border: #000000;
    text-align: center;
    background-color: white;
    width: 15rem;
    height: 13rem;
    padding-top: 1rem;
    transition: all ease 400ms;
    padding-bottom: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card1 h3{
    font-family: 'Russo One', sans-serif; 
    margin-top:3px;
    margin-bottom: 2px;
}

.card1 p{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.card1:hover{
rotate: 20deg;
font-size: larger;
color: palevioletred;
width: 250px;
}

.card2{
    text-align: center;
    background-color: white;
    width: 15rem;
    height: 13rem;
    padding-top: 1rem;
    transition: all ease 400ms;
    padding-bottom: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-left: -12rem;
}

.card2 h3{
    font-family: 'Russo One', sans-serif; 
    margin-top:3px;
    margin-bottom: 2px;
}

.card2 p{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.card2:hover{
    rotate: 20deg;
    font-size: larger;
    color: orange;
    width: 250px;
    }
    
.card3{
    text-align: center;
    background-color: white;
    width: 15rem;
    height: 13rem;
    padding-top: 1rem;
    transition: all ease 400ms;
    padding-bottom: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card3 h3{
    font-family: 'Russo One', sans-serif;
    margin-top:3px;
    margin-bottom: 2px;
}

.card3 p{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.card3:hover{
    rotate: 20deg;
    font-size: larger;
    color: greenyellow;
    width: 250px;
}
    
.card4{
    text-align: center;
    background-color: white;
    width: 15rem;
    height: 13rem;
    padding-top: 1rem;
    transition: all ease 400ms;
    padding-bottom: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-left: -12rem;
}

.card4 h3{
    font-family: 'Russo One', sans-serif;
    margin-top:3px;
    margin-bottom: 2px;
}

.card4 p{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.card4:hover{
    rotate: 20deg;
    font-size: larger;
    color: royalblue;
    width: 250px;
}
.logodua{
    padding-top: 1rem;
}
@media screen and (max-width: 912px) {
    .bungkusutama{
        margin-left: 10rem;
    }

    .card4{
        margin-left: -5rem;
    }
    
    .card2{
        margin-left: -5rem;
    }
}
    
@media screen and (max-width: 768px) {
.bungkusutama{
    margin-left: 7rem;
}
.card4{
    margin-left: -3rem;
}

.card2{
    margin-left:-3rem;
}
}
@media screen and (max-width: 1024px) {
    .bungkusutama{
        margin-left: 11rem;
    }
    .card4,.card2{
        margin-left: -4rem;
    }
    .logodua{
        padding-left: 0px;
    }
    }
    @media screen and (max-width: 688px) {
        .bungkusutama{
            margin-left: 3rem;
        }
        .card4,.card2{
            margin-left: -1rem;
        }
        .card1,.card3{
            margin-left: 1rem;
        }
        }
        @media screen and (max-width: 414px) {
            .bungkusutama{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-left: 4rem;
            }
            .card2,.card4{
                margin-top:25px;
                margin-bottom:1rem;
                margin-left: 1rem;
            }
        }
        
            @media screen and (max-width: 395px) {
                .bungkusutama{
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                }
                .card2,.card4{
                    margin-top:25px;
                    margin-bottom:1rem;
                    margin-left: 1rem;
                }
            }
            @media screen and (max-width: 765px) {
                .bungkusutama{
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    padding-left: 2px;
                }
                .card2,.card4{
                    margin-top:1rem;
                    margin-bottom:1rem;
                }
                }
                
                @media screen and (max-width: 365px) {
                    .bungkusutama{
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        padding-left: 2px;
                    }
                    .card2,.card4{
                        margin-top:1rem;
                        margin-bottom:1rem;
                    }
                    }

/* ============ end about me ========= */


/* ===========my projects ======== */
.kingplastic{
    margin-right: 3rem;
}
.queenplastic{
    display: block;
}

/* =====project IT====== */
.projectit-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-content: center;
    margin-left: 13rem;
    margin-top: 3rem;
    gap: 2rem;
    transition: all ease 400ms;
}
.projectit-container img{
    transition: all ease 400ms;
}
.projectit h1{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Russo One', sans-serif;
    transition: all ease 400ms;
}
.projectit h1:hover{
color: aqua;
transform: scale(1.5);
-webkit-text-stroke: 0.1px #000000;
}
.projectit-item{
    height: 120px;
}

.projectit-container img:hover{
 transform: scale(1.5);
 box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.2);
}

/* =====end project it==== */
@media screen and (max-width: 1025px) {
    .projectit-container{
        margin-left: 10rem;
    }
    }
@media screen and (max-width: 414px) {
    .projectit-container{
        margin-left: 10rem;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
    }
    @media screen and (max-width: 394px) {
        .projectit-container{
            margin-left: 8.5rem;
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
        }
        }
        @media screen and (max-width: 380px) {
            .projectit-container{
                margin-left: 9rem;
                display: grid;
                grid-template-columns: repeat(2 ,1fr);
            }
            }
            @media screen and (max-width: 360px) {
                .projectit-container{
                    margin-left: 4.3rem;
                    display: grid;
                    grid-template-columns: repeat(2 ,1fr);
                }
                }
/* ======== project diniyyah ====== */

.projectdiniyyah-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-content: center;
    margin-left: 13rem;
    margin-top: 3rem;
    gap: 2rem;
    transition: all ease 400ms;
}
.projectdiniyyah-container img{
    transition: all ease 400ms;
}
.projectdiniyyah h1{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Russo One', sans-serif;
    transition: all ease 400ms;
}
.projectdiniyyah h1:hover{
    color: rgb(255, 251, 20);
    transform: scale(1.5);
    -webkit-text-stroke: 0.1px #000000;
    }
.projectdiniyyah-item{
    height: 120px;
}

.projectdiniyyah-container img:hover{
 transform: scale(1.5);
 box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.2);
}

/* =======end project diniyyah ====== */
@media screen and (max-width: 1025px) {
    .projectdiniyyah-container{
        margin-left: 10rem;
    }
    }
@media screen and (max-width: 414px) {
    .projectdiniyyah-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        margin-left: 10rem;
    }
    }
    @media screen and (max-width: 394px) {
        .projectdiniyyah-container{
            margin-left: 4rem;
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
        }
        }
        @media screen and (max-width: 380px) {
            .projectdiniyyah-container{
                margin-left: 3.3rem;
                display: grid;
                grid-template-columns: repeat(2 ,1fr);
            }
            }
            @media screen and (max-width: 360px) {
                .projectdiniyyah-container{
                    margin-left: 4.3rem;
                    display: grid;
                    grid-template-columns: repeat(2 ,1fr);
                }
                }
/* ========== monday competition ======== */
.mondaycompetition-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-content: center;
    margin-left: 13rem;
    margin-top: 3rem;
    gap: 2rem;
    transition: all ease 400ms;
}
.mondaycompetition-container img{
    transition: all ease 400ms;
}
.mondaycompetition h1{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Russo One', sans-serif;
    transition: all ease 400ms;
}
.mondaycompetition h1:hover{
    color: rgb(255, 27, 206);
    transform: scale(1.5);
    -webkit-text-stroke: 0.1px #000000;
    }
.mondaycompetition-item{
    height: 120px;
}

.mondaycompetition-container img:hover{
 transform: scale(1.5);
 box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.2);
}

/* ====== end monday competition ====== */
@media screen and (max-width: 1025px) {
    .mondaycompetition-container{
        margin-left: 10rem;
    }
    }
@media screen and (max-width: 414px) {
    .mondaycompetition-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        margin-left: 10rem;
    }
    }
    @media screen and (max-width: 394px) {
        .mondaycompetition-container{
            margin-left: 4rem;
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
        }
        }
        @media screen and (max-width: 380px) {
            .mondyacompetition-container{
                margin-left: 3.3rem;
                display: grid;
                grid-template-columns: repeat(2 ,1fr);
            }
            }
            @media screen and (max-width: 360px) {
                .mondaycompetition-container{
                    margin-left: 4.3rem;
                    display: grid;
                    grid-template-columns: repeat(2 ,1fr);
                }
                }
/* ======= iseng iseng ===== */
.isengiseng-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    align-content: center;
    margin-left: 20rem;
    margin-top: 3rem;
    gap: 2rem;
    transition: all ease 400ms;
    margin-bottom: 3rem;
}
.isengiseng-container img{
    transition: all ease 400ms;
}
.isengiseng h1{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Russo One', sans-serif;
    transition: all ease 400ms;
}
.isengiseng h1:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
    -webkit-text-stroke: 0.1px #000000;
    }
.isengiseng-item{
    height: 120px;
}

.isengiseng-container img:hover{
 transform: scale(1.5);
 box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1025px) {
    .isengiseng-container{
        margin-left: 15rem;
    }
    }
@media screen and (max-width: 912px) {
    .kingplastic{
        margin-left: -5rem;
    }

    .projectit h1{
        margin-left: 7rem;
    }

    .projectdiniyyah h1{
        margin-left:7rem;
    }

    .mondaycompetition h1{
        margin-left: 7rem;
    }

    .isengiseng h1{
        margin-left: 7rem;
    }

    .isengiseng-container{
        margin-left: 300px;
    }
}
@media screen and (max-width: 768px) {
    .kingplastic{
        margin-left: -6rem;
    }
    .projectit h1{
        margin-left: 9rem;
    }

    .projectdiniyyah h1{
        margin-left:9rem;
    }

    .mondaycompetition h1{
        margin-left: 9rem;
    }

    .isengiseng h1{
        margin-left: 9rem;
    }

    .isengiseng-container{
        margin-left: 160px;
    }
};
@media screen and (max-width: 420px) {
    .isengiseng-container{
        margin-left: 160px;
    }
    }
    @media screen and (max-width: 394px) {
        .isengiseng-container{
            margin-left: 2rem;
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
        }
        }
        @media screen and (max-width: 380px) {
            .isengiseng-container{
                padding-left: 0%;
                margin-left: 3.3rem;
                display: grid;
                grid-template-columns: repeat(2 ,1fr);
            }
            }
            @media screen and (max-width: 360px) {
                .isengiseng-container{
                    margin-left: 4.3rem;
                    display: grid;
                    grid-template-columns: repeat(2 ,1fr);
                }
                }




