@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    background-color: #FCFFB2;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px; /* Spasi internal */
    font-family: 'Paytone One', sans-serif;
  }
  
  nav a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    color: #CB35D8; /* Warna teks */
    margin-right: 80px; /* Spasi antara tautan */
  }
  
  
  .portofolio{
    position: absolute;
  top: 20px;
  left: 20px;
  display: flex; 
  }  

  .portofolio span {
    color: #FF55BB;
    font-size: 21.75px;
    font-family: 'Paytone One', sans-serif;
    word-wrap: break-word;
  }
  
  .portofolio span:first-child {
    font-weight: 300;
    margin-right: 5px; /* Menambahkan spasi antara dua span */
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; /* Menentukan tinggi sesuai dengan tinggi viewport */
  }
  
  .text-center {
    text-align: center;
  }
  
  .hi-there {
    color: #FF55BB;
    font-size: 150px;
    font-family: 'Paytone One', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    line-height: 1;
  }
  
  .enjoy {
    color: #FF55BB;
    font-size: 150px; /* Ubah ukuran sesuai kebutuhan */
    font-family: 'Paytone One', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }

  .letsgo{
    color: white;
font-size: 20px;
font-family: 'Paytone One', sans-serif;
font-weight: 500;
word-wrap: break-word;
background-color:#CB35D8;
padding: 20px;
border: none;
margin-top: 40px;
  }

nav a:hover{
color: rgb(255, 188, 5);
transition: all ease 400ms;
font-weight: 700;
cursor: pointer;
}

body{
    margin-bottom: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}





